<div class="sidebar">
    <h2>
        Dashboard ExBV Arena Boa Viagem
    </h2>
    <ul>
        <li (click)="routerLinkFunciona('dashboard')"><i></i>Dashboard</li>
        <li (click)="routerLinkFunciona('dashboard/alunos')"><i></i>Alunos</li>
        <li (click)="routerLinkFunciona('dashboard/pessoas')"><i></i>Pessoas</li>
        <li (click)="routerLinkFunciona('dashboard/reservas')"><i></i>Reservas</li>
        <li (click)="routerLinkFunciona('dashboard/compra')"><i></i>Compras</li>
        <li (click)="routerLinkFunciona('dashboard/produtos')"><i></i>Produtos</li>
        <li (click)="routerLinkFunciona('dashboard/estoque')"><i></i>Estoque</li>
        <li (click)="routerLinkFunciona('dashboard/quadras')"><i></i>Quadras</li>
        <li (click)="routerLinkFunciona('dashboard/turmas')"><i></i>Aulas</li>
        <li (click)="routerLinkFunciona('dashboard/indica')"><i></i>Indica</li>
        <li (click)="routerLinkFunciona('')"><i></i>Sair</li>
    </ul>
</div>

<div class="main-content">

    <div class="header">
        <h1>Dashboard</h1>
    </div>

    <div class="content">
        <div class="dashboard-container">
            <h3>Estatísticas Gerais</h3>
            <div class="estaticos">
                <p>Reservas Hoje: {{ dashboardData?.quantidadeDeReservas }}</p>
                <p>Compras Hoje: {{ dashboardData?.quantidadeDeCompras }}</p>
                <p>Total de Alunos: {{ dashboardData?.quantidadeDeAlunos }}</p>
            </div>
              
            <div>
                <h3>Gráfico de Barras: Pessoas por Cidade</h3>
                <canvas id="cidadeBarChart"></canvas>
            </div>
              
            <div>
                <h3>Gráfico de Pizza</h3>
                <canvas id="summaryPieChart"></canvas>
            </div>
        </div>
    </div>
</div>