<div class="sidebar">
    <h2>
        Dashboard ExBV Arena Boa Viagem
    </h2>
    <ul>
        <li (click)="routerLinkFunciona('dashboard')"><i></i>Dashboard</li>
        <li (click)="routerLinkFunciona('dashboard/alunos')"><i></i>Alunos</li>
        <li (click)="routerLinkFunciona('dashboard/pessoas')"><i></i>Pessoas</li>
        <li (click)="routerLinkFunciona('dashboard/reservas')"><i></i>Reservas</li>
        <li (click)="routerLinkFunciona('dashboard/turmas')"><i></i>Turmas</li>
        <li (click)="routerLinkFunciona('dashboard/quadras')"><i></i>Quadras</li>
        <li (click)="routerLinkFunciona('dashboard/produtos')"><i></i>Produtos</li>
        <li (click)="routerLinkFunciona('dashboard/campeonatos')"><i></i>Campeonatos</li>
        <li (click)="routerLinkFunciona('dashboard/show')"><i></i>Show</li>
        <li (click)="routerLinkFunciona('dashboard/funcionarios')"><i></i>Funcionários</li>
        <li (click)="routerLinkFunciona('')"><i></i>Sair</li>
    </ul>
</div>

<div class="main-content">

    <div class="header">
     <h1>Dashboard</h1>
     <div class="user-info">
      <img height="40" src="func.jpg" width="40"/>
      <span>Nome do Usuário</span>
     </div>
    </div>

    <div class="content">
        <div class="card">
            <h3>Estatísticas Gerais</h3>
            <div class="stats">
                <div>
                    <h4>Reservas Hoje</h4>
                    <p>15</p>
                </div>
                <div>
                    <h4>Alunos Cadastrados</h4>
                    <p>120</p>
                </div>
                <div>
                    <h4>Quadras Disponíveis</h4>
                    <p>5</p>
                </div>
            </div>
        </div>

        <div class="card">
            <!-- <h3>Próximas Reservas</h3>
            <ul>
            <li>10:00 - Quadra 1 - João Silva</li>
            <li>11:00 - Quadra 2 - Maria Oliveira</li>
            <li>12:00 - Quadra 3 - Pedro Santos</li>
            <li>13:00 - Quadra 4 - Ana Costa</li>
            <li>14:00 - Quadra 5 - Lucas Lima</li>
            </ul> -->
        </div>

        <div class="card">
            <!-- <h3>Últimos Clientes</h3>
            <ul>
            <li>João Silva</li>
            <li>Maria Oliveira</li>
            <li>Pedro Santos</li>
            <li>Ana Costa</li>
            <li>Lucas Lima</li>
            </ul> -->
        </div>
    </div>
</div>