<div class="about">

  <div class="img">
    <img src="sobre.png" alt="quadras">
  </div>

  <div class="text">
    <h2>Sobre a ExBV Arena Boa Viagem</h2>
    <p>Um dos maiores cartões postais do Recife, a beira mar de Boa Viagem ganha um complexo esportivo. Com mais de 10 mil m², a Arena Boa Viagem chega com a missão de oferecer uma experiência integrada de esportes, saúde e lazer para o público pernambucano.
      O complexo conta com 12 quadras de Beach Tennis, um dos esportes que mais cresce no mundo. Simples de jogar, as pessoas podem participar de aulas da prática esportiva, locar as quadras para jogos e até eventos. Além disso, o local conta com 2 quadras de tênis em saibro que também oferecem aulas e podem ser locadas.
      Para aqueles que gostam de praticar CrossFit e musculação, o reconhecido complexo esportivo Awaken tem uma unidade exclusiva dentro da Arena, a Awaken Beach, que leva duas das suas maiores marcas, a AWKCrossfit e a famosa musculação da marca, a Awaken Power. O local também conta com acompanhamento com osteopata, esportes de areia, treinos funcionais, spa, escola de dança e yoga.    ​
      Pensando na comodidade e conforto, o complexo oferece vestiários completos, barbearia, car wash e estacionamento privativo. Para o lazer, as pessoas podem aproveitar o espaço gourmet, o rooftop com vista para o mar e quadras, o Ponto do Açaí. Também trazemos a exclusividade de ter o Vrau Smash Burger e suas maioneses coloridas e a loja Arena Boa Viagem Store, que oferece itens e acessórios esportivos.</p>
    <a (click)="routerLinkFunciona('servicos')">Quero alugar uma quadra!</a>
  </div>

</div>
