<div class="sidebar">
    <h2>
        Dashboard ExBV Arena Boa Viagem
    </h2>
    <ul>
        <li (click)="routerLinkFunciona('dashboard')"><i></i>Dashboard</li>
        <li (click)="routerLinkFunciona('dashboard/alunos')"><i></i>Alunos</li>
        <li (click)="routerLinkFunciona('dashboard/pessoas')"><i></i>Pessoas</li>
        <li (click)="routerLinkFunciona('dashboard/reservas')"><i></i>Reservas</li>
        <li (click)="routerLinkFunciona('dashboard/turmas')"><i></i>Turmas</li>
        <li (click)="routerLinkFunciona('dashboard/quadras')"><i></i>Quadras</li>
        <li (click)="routerLinkFunciona('dashboard/produtos')"><i></i>Produtos</li>
        <li (click)="routerLinkFunciona('dashboard/campeonatos')"><i></i>Campeonatos</li>
        <li (click)="routerLinkFunciona('dashboard/show')"><i></i>Show</li>
        <li (click)="routerLinkFunciona('dashboard/funcionarios')"><i></i>Funcionários</li>
        <li (click)="routerLinkFunciona('')"><i></i>Sair</li>
    </ul>
</div>

<div class="main-content">

    <div class="filtro-pessoa">
        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" [(ngModel)]="cpf" placeholder="Digite o CPF" />
        <button (click)="buscarPessoaPorCpf(cpf)">Buscar Pessoa</button>
        <!-- <button (click)="getPessoasByAlphabeticalOrder()">Ordenar por Ordem Alfabética</button> -->
    </div>

      <table border="1">
          <thead>
              <tr>
                  <th>CPF</th>
                  <th>Nome</th>
                  <th>Cidade</th>
                  <th>Bairro</th>
                  <th>Rua</th>
                  <th>CEP</th>
                  <th>Telefone 1</th>
                  <th>Telefone 2</th>
                  <th>Editar Pessoa</th>
                  <th>Deletar Pessoa</th>
              </tr>
          </thead>
          <tbody>
              @for(pessoa of pessoasFiltradas; track $index){
                  <tr>
                    <td style="text-decoration: underline; color: blue; cursor: pointer;">{{ pessoa.cpf }}</td>
                    <td>{{ pessoa.nome }}</td>
                    <td>{{ pessoa.cidade }}</td>
                    <td>{{ pessoa.bairro }}</td>
                    <td>{{ pessoa.rua }}</td>
                    <td>{{ pessoa.cep }}</td>
                    <td>{{ pessoa.telefone_1 }}</td>
                    <td>{{ pessoa.telefone_2 }}</td>
                    <td> <button type="button" class="btn btn-primary" (click)="toggleFormEdit(pessoa.cpf)">Editar Pessoa</button> </td>
                    <td> <button type="button" class="btn btn-primary" (click)="deletarPessoa(pessoa.cpf)">Deletar Pessoa</button> </td>
                  </tr>
              }
          </tbody>
      </table>
  


    <div class="botoes">
        <button type="button" class="btn btn-primary" (click)="toggleForm()">
          {{ showForm ? 'Cancelar' : 'Adicionar Pessoa' }}
        </button>
    </div>

    @if(showForm){
        <div class="form-container">
            <h3>Adicionar Pessoa</h3>
            <form (ngSubmit)="adicionarPessoa()">
                <div>
                    <label for="cpf">CPF:</label>
                    <input type="text" [(ngModel)]="cpf" name="cpf" required />
                  </div>
                  <div>
                    <label for="nome">Nome:</label>
                    <input type="text" [(ngModel)]="nome" name="nome" required />
                  </div>
                  <div>
                    <label for="cidade">Cidade:</label>
                    <input type="text" [(ngModel)]="cidade" name="cidade" required />
                  </div>
                  <div>
                    <label for="bairro">Bairro:</label>
                    <input type="text" [(ngModel)]="bairro" name="bairro" required />
                  </div>
                  <div>
                    <label for="rua">Rua:</label>
                    <input type="text" [(ngModel)]="rua" name="rua" required />
                  </div>
                  <div>
                    <label for="cep">CEP:</label>
                    <input type="text" [(ngModel)]="cep" name="cep" required />
                  </div>
                  <div>
                    <label for="telefone_1">Telefone 1:</label>
                    <input type="text" [(ngModel)]="telefone_1" name="telefone_1" required />
                  </div>
                  <div>
                    <label for="telefone_2">Telefone 2:</label>
                    <input type="text" [(ngModel)]="telefone_2" name="telefone_2" required />
                  </div>
                  <button type="submit" class="btn btn-primary">Salvar</button>
                  <button type="button" class="btn btn-secondary" (click)="resetForm()">Limpar</button>
            </form>
        </div>
    }

    @if(isUpdating){
      <div class="form-container">
          <h3>Editar Pessoa</h3>
          <form (ngSubmit)="atualizarPessoa()">
                <div>
                  <label for="cpf">CPF:</label>
                  <input type="text" [(ngModel)]="cpf_edit" name="cpf" [readonly]="true" />
                </div>
                <div>
                  <label for="nome">Nome:</label>
                  <input type="text" [(ngModel)]="nome" name="nome" required />
                </div>
                <div>
                  <label for="cidade">Cidade:</label>
                  <input type="text" [(ngModel)]="cidade" name="cidade" required />
                </div>
                <div>
                  <label for="bairro">Bairro:</label>
                  <input type="text" [(ngModel)]="bairro" name="bairro" required />
                </div>
                <div>
                  <label for="rua">Rua:</label>
                  <input type="text" [(ngModel)]="rua" name="rua" required />
                </div>
                <div>
                  <label for="cep">CEP:</label>
                  <input type="text" [(ngModel)]="cep" name="cep" required />
                </div>
                <div>
                  <label for="telefone_1">Telefone 1:</label>
                  <input type="text" [(ngModel)]="telefone_1" name="telefone_1" required />
                </div>
                <div>
                  <label for="telefone_2">Telefone 2:</label>
                  <input type="text" [(ngModel)]="telefone_2" name="telefone_2" required />
                </div>
                <button type="submit" class="btn btn-primary">Salvar</button>
                <button type="button" class="btn btn-secondary" (click)="resetForm()">Limpar</button>
          </form>
      </div>
  }

</div>