<div class="sidebar">
    <h2>
        Dashboard ExBV Arena Boa Viagem
    </h2>
    <ul>
        <li (click)="routerLinkFunciona('dashboard')"><i></i>Dashboard</li>
        <li (click)="routerLinkFunciona('dashboard/alunos')"><i></i>Alunos</li>
        <li (click)="routerLinkFunciona('dashboard/pessoas')"><i></i>Pessoas</li>
        <li (click)="routerLinkFunciona('dashboard/reservas')"><i></i>Reservas</li>
        <li (click)="routerLinkFunciona('dashboard/compra')"><i></i>Compras</li>
        <li (click)="routerLinkFunciona('dashboard/produtos')"><i></i>Produtos</li>
        <li (click)="routerLinkFunciona('dashboard/estoque')"><i></i>Estoque</li>
        <li (click)="routerLinkFunciona('dashboard/quadras')"><i></i>Quadras</li>
        <li (click)="routerLinkFunciona('dashboard/turmas')"><i></i>Aulas</li>
        <li (click)="routerLinkFunciona('dashboard/indica')"><i></i>Indica</li>
        <li (click)="routerLinkFunciona('')"><i></i>Sair</li>
    </ul>
</div>

<div class="main-content">

    <h2 style="color: #007BFF;">Indicações de Alunos</h2>

    <table border="1">
        <thead>
            <tr>
            <th>CPF Indicador</th>
            <th>CPF Indicado</th>
            </tr>
        </thead>
        <tbody>
            @for(indicao of indicacoesFiltradas; track $index){
                <tr>
                <td>{{ indicao.cpf_indicador }}</td>
                <td>{{ indicao.cpf_indicado }}</td>
                </tr>
            }
        </tbody>
    </table>

</div>